body {
  font-family: "Open Sans", sans-serif;
}

.link {
  text-decoration: none;
}

/* ------------------------------------------------------------------- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  /* height: auto;
  width: 100%; */
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

a {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.uptitle {
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}

.uptitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.section-title {
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.1666;
  letter-spacing: 0.05em;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid #ff6c00;

  background-color: transparent;
}

/* -------------------------Heder--------------------- */

.header-container {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  width: 100%;
}
.logo {
  margin-right: 131px;
}


.navigations {
  margin-right: auto;
}

.header-menu {
  display: flex;
  gap: 30px;
}

.menu-item {
}

.menu-link {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  transition: color 300ms linear;
}

.menu-link:hover,
.menu-link:focus,
.menu-link.current {
  color: #ff6c00;
}

.menu-link:active {
  color: #000;
}

.header-contact {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.header-btn {
  height: 36px;
  color: #fff;
  cursor: pointer;
  margin-left: 43px;
  margin-right: 17px;
  transition: background-color 300ms linear;
}

.header-btn:hover,
.header-btn:focus {
  background-color: #ff6c00;
}

/* -------------------------Hero--------------------- */

.hero-container {
  display: flex;
}

.hero {
}

.hero-wrap {
  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url(../image/hero.jpg);
  padding: 272px 100px 208px 100px;
  flex-grow: 1;
}

.hero-soc-list {
  display: flex;
  align-items: flex-end;
  width: 100px;
  padding-bottom: 40px;
  padding-left: 27px;
}

.soc-list {
  display: flex;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  align-items: center;
  gap: 40px;
}

.soc-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.soc-list-item {
}

.soc-list-link {
  color: #303030;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 2.2px;
  transition: color 300ms linear;
}

.soc-list-link:hover,
.soc-list-link:focus {
  color: #ff6c00;
}

.hero-uptitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.hero-title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 72px;
  line-height: 1.1666666667;
  letter-spacing: 3.6px;
  margin-bottom: 20px;
}

.hero-subtitle {
  color: #9da4bd;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
  max-width: 360px;
}

/* -------------------------About--------------------- */
.about-container {
  display: flex;
  gap: 30px;
}

.about {
  padding-top: 120px;
  padding-bottom: 120px;
}

.picture-list {
  display: flex;
  gap: 30px;
}
.picture-list-item {
}

.about-wrap {
  max-width: 470px;
}

.about-uptitle {
  color: #303030;
  margin-bottom: 20px;
}

.about-title {
  color: #303030;
  margin-bottom: 20px;
}

.about-subtitle {
  color: #555555;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
  margin-bottom: 20px;
}
.about-text {
  color: #555555;
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.28px;
  margin-bottom: 42px;
}
.about-btn {
  color: #303030;
  transition: background-color 300ms linear, color 300ms linear;
}

.about-btn:hover,
.about-btn:focus {
  color: #fff;
  background-color: #ff6c00;
}

/* -------------------------Prices--------------------- */

.prices {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #111319;
  background-image: url(../image/pri.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.prices-uptitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: #ffffff;
  margin-bottom: 44px;
}

.prices-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

.table-list {
  padding: 30px 20px;
  width: calc((100% - 30px) / 2);
}

.table-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.table-list:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}

.table-list-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: baseline;
  gap: 12px;
}

.table-list-item::before {
  content: "";
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.table-list-item:last-child {
  margin-bottom: 0;
}

.table-list-item-text {
  color: #9da4bd;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.36px;
}

.table-list-item-text:first-child {
  order: -1;
}

.prices-btn {
  color: #fff;
  display: block;
  margin: 0 auto;
  transition: background-color 300ms linear;
}

.prices-btn:hover,
.prices-btn:focus {
  background-color: #ff6c00;
}

/* -------------------------Benefits--------------------- */

.benefits-container {
  display: flex;
  gap: 130px;
  padding-left: 115px;
}

.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  flex-shrink: 0;
}

.benefits-item {
  width: 170px;
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px 24px;
  text-align: center;
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}
.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-count {
  color: #303030;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 2.1px;
}

.benefits-plus {
  color: #ff6c00;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
  display: inline-block;
  padding-top: 14px;
  vertical-align: top;
}

.benefits-item-text {
  color: #303030;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
}

.benefits-wrap {
  max-width: 500px;
  padding-top: 9px;
}

.benefits-uptitle {
  color: #303030;
  margin-bottom: 20px;
}

.benefits-title {
  color: #303030;
  margin-bottom: 20px;
}

.benefits-subtitle {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.36px;
}

/* -------------------------Barbers--------------------- */

.barbers {
  padding-top: 120px;
  padding-bottom: 120px;
  background: #f7f7f7;
}
.barbers-uptitle {
  color: #303030;
  margin-bottom: 20px;
}

.barbers-title {
  color: #303030;
  margin-bottom: 44px;
}

.card-list {
  display: flex;
  gap: 30px;
}

.card-list-item {
  width: calc((100% - 60px) / 3);
}

.card-list-item:hover .card-list__top-text {
  transform: translateY(0);
}

.card-list__top-wrap {
  position: relative;
  overflow: hidden;
}

.card-list__top-text {
  position: absolute;
  top: 0;
  background-color: rgba(255, 106, 0, 0.681);
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}

.card-list-item-title {
  color: #303030;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.39;
  letter-spacing: 0.36px;
  margin-bottom: 8px;
  margin-top: 30px;
}

.card-list-item-text {
  color: #ff6c00;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: 0.28px;
  margin-bottom: 34px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 300ms linear;
}

.socials-link:hover {
  background-color: #ffffff;
}

.socials-icon {
  fill: #303030;
  transition: fill 300ms linear;
}

.socials-link:hover .socials-icon {
  fill: #ff6c00;
}

/* -------------------------Gallery--------------------- */

.gallery {
  padding-top: 120px;
  padding-bottom: 120px;
}

.gallery-uptitle {
  color: #303030;
  margin-bottom: 44px;
}

.gallery-list {
  display: flex;
  gap: 30px;
}
.gallery-item {
  width: calc((100% - 90px) / 4);
}

/* -------------------------Online--------------------- */

.contact-wrap {
  background-color: #191c26;
  background-image: url(../image/contacts.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px) 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.contact-wrap > .container {
  display: flex;
}

.online {
  width: calc(50% + 15px);
}

.online-title {
  color: #fff;
  padding-top: 130px;
  margin-bottom: 44px;
}

.online-form {
}
.online-wrap {
}
.online-input {
}
.online-item {
}
.online-label {
}
.online-text-wrap {
}
.online-text {
}

.online-btn {
  color: #fff;
  margin-top: 44px;
  transition: background-color 300ms linear;
}

.online-btn:hover,
.online-btn:focus {
  background-color: #ff6c00;
}

/* -------------------------Contacts--------------------- */

.contacts {
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-bottom: 111px;
  padding-left: 105px;
}

.contacts-title {
  color: #fff;
  margin-bottom: 40px;
}

.contacts-address {
  margin-bottom: 70px;
}

.contacts-list {
}

.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  color: #9da4bd;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.36px;
  display: flex;
  align-items: center;
}

.contacts-link::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-image: url(../image/mail.svg);
}

.tel::before {
  background-image: url(../image/phone.svg);
}

.contacts-link-bold {
  font-weight: 700;
  width: 320px;
}

.contacts-link-bold::before {
  background-image: url(../image/map-pin.svg);
  padding-top: 50px;
  background-repeat: no-repeat;
}

.contacts-schedule-title {
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contacts-schedule-title::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.contacts-schedule-text {
  color: #9da4bd;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.36px;
}

/* -------------------------Footer--------------------- */

.footer-container {
  display: flex;
  align-items: center;

  background-color: F7F7F7;
  padding: 56px 215px;
}

.copyright {
  color: #9da4bd;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
  margin-right: auto;
}
