body {
  font-family: "Open Sans", sans-serif;
}

.link {
  text-decoration: none;
}

.no-scroll {
  overflow: hidden;
}

/* ------------------------------------------------------------------- */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

input {
  font-family: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  margin: -1px;
}

a {
  margin-top: 0px;
  margin-bottom: 0px;
}

.container {
  /* max-width: 1200px; */
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 448px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}


.uptitle {
  font-size: 11px;
  font-weight: 600;
  line-height: 15px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 20px;
}

.uptitle::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.section-title {
  font-family: Raleway;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.1666;
  letter-spacing: 0.05em;
}

.btn {
  min-width: 160px;
  height: 40px;
  font-size: 12px;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-radius: 25px;
  border: 1px solid #ff6c00;

  background-color: transparent;
}

.section-padding {
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .section-padding {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* -------------------------Heder--------------------- */

.header-container {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 131px;
  }
}

.logotip-icon {
  fill: #ffff;
}
@media screen and (min-width: 768px) {
  .logotip-icon {
    fill: #303030;
  }
}
.navigations {
  margin-right: auto;
}

nav .header-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  nav .header-menu {
    display: flex;
    gap: 16px;
  }
}
@media screen and (min-width: 1200px) {
  nav .header-menu {
    gap: 30px;
  }
}




.menu-link {
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  transition: color 300ms linear;
}

.menu-link:hover,
.menu-link:focus,
.menu-link.current {
  color: #ff6c00;
}

.menu-link:active {
  color: #000;
}

.header-contact-box {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .header-contact-box {
    display: none;
  }
}
@media screen and (min-width: 767px) {
  .header-contact-box {
    top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contact-box {
    flex-direction: row-reverse;
    top: 0;
  }
}



.header-contact {
  margin-top: 20px;
  margin-right: -20px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}


@media screen and (min-width: 1200px) {
  .header-contact {
    margin-right: 20px;
    margin-top: 0;
  }
}

.header-btn {
  height: 36px;
  color: #fff;
  cursor: pointer;
  margin-left: 43px;
  transition: background-color 300ms linear;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-btn {
    display: block;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header-btn {
    margin-right: 17px;
    margin-top: 0px;
  }
}


.header-btn:hover,
.header-btn:focus {
  background-color: #ff6c00;
}



@media screen and (max-width: 767px) {
  .header-contact-box,
  nav .header-menu {
    display: none;
  }
}


.menu-open {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  border: 0;
  background-color: transparent;
}
@media screen and (min-width: 768px) {
  .menu-open {
    display: none;
  }
}

.menu-open-icon {
  fill: #fff;
}

.menu-open:hover .menu-open-icon {
  fill: #ff6c00;
}

.menu-close {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  border: 0;
  background-color: transparent;
  margin-bottom: 30px;
}

.menu-close-icon {
  fill: #e9e2e2;
}


.mob-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  padding-top: 48px;
  padding-bottom: 48px;
  overflow-y: auto;
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}

.mob-menu-list {
  margin-bottom: 64px;
}

.mob-menu-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-menu-link {
  color: #303030;
  font-size: 18px;
  font-weight: 600;
  line-height: calc(25/18);
  letter-spacing: 1.8px;
}


.mob-menu-contact {
  color: #303030;
  font-size: 18px;
  font-weight: 600;
  line-height: calc(25/18);
  letter-spacing: 1.8px;
}

.mob-menu-btn {
  display: block;
  margin-top: 24px;
  margin-bottom: 64px;
}

.mob-soc {
  position: relative;
  padding-left: 100px;
}

.mob-soc::before {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  width: 60px;
  height: 1px;
  background-color: #303030;
}

.mob-soc-item:not(:last-child) {
  margin-bottom: 24px;
}

.mob-soc-link {
  color: #303030;
font-size: 14px;
font-weight: 600;
line-height: calc(19/14);
letter-spacing: 2.8px;
}

.mob-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* -------------------------Hero--------------------- */

.hero-container {
  position: relative;
  display: flex;
  padding: 0;
}
@media screen and (min-width: 480px) {
  .hero-container {
    max-width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .hero-container {
    max-width: 720px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .hero-container {
    max-width: 1200px;
  }
}

.hero-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('../../image/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: background-image 1s;
  padding: 210px 30px;
  flex-grow: 1;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-wrap {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('../../image/hero-mob-2x.jpg');
  }
}
@media screen and (min-width: 480px) {
  .hero-wrap {
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('../../image/hero-tab.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('../../image/hero-tab-2x.jpg');
    }
  }
}
@media screen and (min-width: 768px) {
  .hero-wrap {
    padding: 272px 98px 237px;
    background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('../../image/hero.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)), url('../../image/hero-2x.jpg');
    }
  }
}
@media screen and (min-width: 1200px) {
  .hero-wrap {
    padding: 272px 100px 208px 100px;
  }
}


.hero-soc-list {
  display: none;
  align-items: flex-end;
  width: 100px;
  padding-bottom: 40px;
  padding-left: 27px;
}
@media screen and (min-width: 768px) {
  .hero-soc-list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .hero-soc-list {
    display: flex;
  }
}

.soc-list {
  display: flex;
  transform: rotate(-90deg) translateY(100%);
  transform-origin: bottom left;
  align-items: center;
  gap: 40px;
}

.soc-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}



.soc-list-link {
  color: #303030;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 2.2px;
  transition: color 300ms linear;
}

.soc-list-link:hover,
.soc-list-link:focus {
  color: #ff6c00;
}

.hero-uptitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}
.hero-title {
  color: #ffffff;
  font-family: Raleway;
  font-size: 48px;
  line-height: calc(56/48);
  letter-spacing: 3.6px;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 72px;
    line-height: 1.1666666667;
  }
}

.hero-subtitle {
  color: #9da4bd;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.36px;
  max-width: 360px;
}
@media screen and (min-width: 768px) {
  .hero-subtitle {
    font-size: 18px;
    line-height: 1.67;
  }
}



.hero-list-btn {
  display: flex;
  position: absolute;
  right: 36px;
  bottom: 40px;
  gap: 26px;
}
.hero-item-btn {
  position: relative;
  width: 60px;
  height: 24px;

  border: none;
  font-weight: 600;
  font-size: 11px;
  line-height: 136.363636%; /* 15/11 */
  letter-spacing: 0.1em;
  color: rgba(157, 164, 189, 0.6);
  transition: color 0.3s, font-size 0.3s;
  background-color: transparent;
}
.hero-item-btn::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 60px;
  height: 1px;
  background-color: currentColor;
}
.hero-item-btn:focus,
.hero-item-btn:hover {
  color: #fff;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}



/* -------------------------About--------------------- */
.about-container {
  display: flex;
  gap: 30px;
}

.picture-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .picture-list {
    display: flex;
    gap: 30px;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .picture-list {
    flex-direction: row;
  }
}

.about-wrap {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about-wrap {
    max-width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .about-wrap {
    max-width: 470px;
  }
}

.about-uptitle {
  color: #303030;
  margin-bottom: 20px;
}

.about-title {
  color: #303030;
  margin-bottom: 20px;
  font-size: 28px;
}
@media screen and (min-width: 1200px) {
  .about-title {
    font-size: 42px;
  }
}
@media screen and (max-width: 767px) {
  .about-title {
    max-width: 306px;
  }
}

.about-subtitle {
  color: #555555;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.32px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .about-subtitle {
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.36px;
  }
}

.about-text {
  color: #555555;
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.28px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .about-text {
    margin-bottom: 77px;
  }
}
@media screen and (min-width: 1200px) {
  .about-text {
    margin-bottom: 42px;
  }
}

.about-btn {
  color: #303030;
  transition: background-color 300ms linear, color 300ms linear;
}

.about-btn:hover,
.about-btn:focus {
  color: #fff;
  background-color: #ff6c00;
}

/* -------------------------Prices--------------------- */

.prices {
  background-color: #111319;
  background-image: url(../image/pri.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.prices-uptitle {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: 20px;
}

.prices-title {
  color: #ffffff;
  margin-bottom: 44px;
  font-size: 40px;
}
@media screen and (min-width: 768px) {
  .prices-title {
    font-size: 42px;
  }
}

.prices-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

 /* .table-list {
    padding: 30px 20px;
    width: calc((100% - 30px) / 2);
  } */

.table-list {
  width: 100%;
  padding: 30px 20px;
}
@media screen and (min-width: 480px) {
  .table-list {
    padding: 30px 20px 30px 40px;
  }
}
@media screen and (min-width: 768px) {
  .table-list {
    padding: 32px 40px;
  }
}
@media screen and (min-width: 1200px) {
  .table-list {
    width: calc((100% - 30px) / 2);
    padding: 30px 20px;
  }
}

.table-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}

.table-list:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}
@media screen and (max-width: 1199px) {
  .table-list:last-child {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .table-list-item.mobile-prices {
    display: none;
  }
}


.table-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 4px;
}
@media screen and (min-width: 768px) {
  .table-list-item {
    gap: 12px;
  }
}

.table-list-item::before {
  content: "";
  width: 100px;
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
}

.table-list-item:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .table-list-item:nth-child(4) {
    margin-bottom: 0;
  }
}

.table-list-item-text {
  color: #9da4bd;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.28px;
}
@media screen and (min-width: 768px) {
  .table-list-item-text {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.36px;
  }
}

.table-list-item-text:first-child {
  order: -1;
}

.prices-btn {
  color: #fff;
  display: block;
  margin: 0 auto;
  transition: background-color 300ms linear;
}

.prices-btn:hover,
.prices-btn:focus {
  background-color: #ff6c00;
}

/* -------------------------Benefits--------------------- */

.benefits-container {
  display: flex;
  gap: 44px;
  flex-direction: column-reverse;
}
@media screen and (min-width: 1200px) {
  .benefits-container {
    flex-direction: row;
    gap: 50px;
    padding-left: 115px;
  }
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
}
@media screen and (min-width: 768px) {
  .benefits-list {
  width: 450px;
  align-self: flex-end;
  }
}

.benefits-item {
  width: calc((100% - 30px) / 2);
  height: 133px;
  background-color: #f7f7f7;
  padding: 20px 24px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .benefits-item {
    width: 193px;
  }
}
@media screen and (min-width: 768px) {
  .benefits-item {
    width: 210px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits-item {
    width: 170px;
  }
}

.benefits-item:nth-child(odd) {
  margin-right: 30px;
}
.benefits-item:nth-child(even) {
  margin-top: 30px;
}

.benefits-count {
  color: #303030;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.35;
  letter-spacing: 2.1px;
}

.benefits-plus {
  color: #ff6c00;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.38;
  display: inline-block;
  padding-top: 14px;
  vertical-align: top;
}

.benefits-item-text {
  color: #303030;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
}

.benefits-wrap {
  max-width: 500px;
  padding-top: 9px;
}

.benefits-uptitle {
  color: #303030;
  margin-bottom: 20px;
}

.benefits-title {
  color: #303030;
  margin-bottom: 20px;
}

.benefits-subtitle {
  color: #555;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.66;
  letter-spacing: 0.36px;
}

/* -------------------------Barbers--------------------- */

.barbers {
   background: #f7f7f7;
}


.barbers-uptitle {
  color: #303030;
  margin-bottom: 20px;
}

.barbers-title {
  color: #303030;
  margin-bottom: 44px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
}
@media screen and (min-width: 1200px) {
  .card-list {
    gap: 30px;
  }
}

.card-list-item {
  width: 100%;
}

@media screen and (min-width: 1200px) {
  .card-list-item {
    width: calc((100% - 60px) / 3);
  }
}

.card-list-item:hover .card-list__top-text {
  transform: translateY(0);
}

.card-list__top-wrap {
  position: relative;
  overflow: hidden;
}

.card-list__top-text {
  position: absolute;
  top: 0;
  background-color: rgba(255, 106, 0, 0.681);
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  padding: 40px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  overflow: auto;
}

.card-list-item-title {
  color: #303030;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.39;
  letter-spacing: 0.36px;
  margin-bottom: 8px;
  margin-top: 30px;
}

.card-list-item-text {
  color: #ff6c00;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.36;
  letter-spacing: 0.28px;
  margin-bottom: 34px;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 300ms linear;
}

.socials-link:hover {
  background-color: #ffffff;
}

.socials-icon {
  fill: #303030;
  transition: fill 300ms linear;
}

.socials-link:hover .socials-icon {
  fill: #ff6c00;
}

/* -------------------------Gallery--------------------- */

.gallery-uptitle {
  color: #303030;
  margin-bottom: 71px;
}
@media screen and (min-width: 768px) {
  .gallery-uptitle {
    margin-bottom: 44px;
  }
}


.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.gallery-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .gallery-item {
    width: calc((100% - 90px) / 4);
  }
}


/* -------------------------Online--------------------- */


.contact-wrap {
  background-color: #191c26;
  background-image: url(../image/contacts-mob.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% calc(50% - 15px) ;
  max-width: 1600px;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .contact-wrap {
    background-image: url(../image/contacts.png);
  }
}
@media screen and (min-width: 1200px) {
  .contact-wrap {
    background-position: right;
    background-size: calc(50% - 15px) 100%;
  }
}

 
.contact-container {
  display: flex;
  flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    .contact-container {
      flex-direction: row;
    }
  }


.online {
  width: 100%;
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .online {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .online {
    width: calc(50% + 15px);
    padding-top: 130px;
    padding-right: 30px;
    padding-bottom: 0;
  }
}

.online-title {
  color: #fff;
  margin-bottom: 44px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .online-title {
    text-align: left;
  }
}

.online-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .online-form {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.online-wrap {
  position: relative;
  margin-bottom: 44px;
}
@media screen and (max-width: 767px) {
  .online-wrap {
    width: 100%;
  }
}

.online-input {
  width: 100%;
  height: 24px;
}
@media screen and (min-width: 768px) {
  .online-input {
    width: 330px;
  }
}
@media screen and (min-width: 1200px) {
  .online-input {
    width: 270px;
  }
}

.online-item {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  outline: transparent;
  transition: border-color 200ms linear;
  color: #9da4bd;
  font-size: 14px;
}

.online-item:focus + .online-label, 
.online-item:not(:placeholder-shown) + .online-label {
  transform: translateY(-100%);
  color: #fff;
}

.online-item:focus, .online-item:not(:placeholder-shown) {
  border-color: #fff;
}

.online-label {
  position: absolute;
  left: 0;
  color: rgba(157, 164, 189, 0.4);
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  transition: transform 200ms linear, color 200ms linear;
}

.online-text-wrap {
  position: relative;
  width: 100%;
}

.online-text {
width: 100%;
height: 76px;
resize: none;
}

.online-btn {
  color: #fff;
  margin-top: 44px;
  transition: background-color 300ms linear;
}

.online-btn:hover,
.online-btn:focus {
  background-color: #ff6c00;
}

/* -------------------------Contacts--------------------- */

.contacts {
  width: 100%;
  padding-top: 84px;
  padding-bottom: 84px;
}
@media screen and (min-width: 768px) {
  .contacts {
    padding-top: 100px;
    padding-bottom: 100px;
    display: column;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    width: calc(50% - 15px);
    padding-top: 130px;
    padding-bottom: 120px;
    padding-left: 100px;
    flex-direction: column;
  }
}

.contacts-title {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .contacts-title {
    text-align: left;
  }
}



.contacts-address {
  margin-bottom: 44px;
}
@media screen and (min-width: 1200px) {
  .contacts-address {
    margin-bottom: 70px;
  }
}



.contacts-item:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-link {
  color: #9da4bd;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.36px;
  display: flex;
  align-items: center;
}

.contacts-link::before {
  content: "";
  width: 24px;
  height: 24px;
  margin-right: 16px;
  background-image: url(../image/mail.svg);
}

.tel::before {
  background-image: url(../image/phone.svg);
}

.contacts-link-bold {
  font-weight: 700;
  width: 320px;
}

.contacts-link-bold::before {
  background-image: url(../image/map-pin.svg);
  padding-top: 50px;
  background-repeat: no-repeat;
}

.contacts-schedule-title {
  color: #fff;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.36;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.contacts-schedule-title::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: currentColor;
}

.contacts-schedule-text {
  color: #9da4bd;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.36px;
}


.contacts-box {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .contacts-box {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-box {
    display: block;
  }
}

/* -------------------------Footer--------------------- */


.footer-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1600px;
  background-color: #F7F7F7;
  padding: 44px 31px;
}
@media screen and (min-width: 768px) {
  .footer-container {
    align-items: center;
    padding: 56px 31px;
 }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    padding: 56px 215px;
  }
}

.copyright {
  margin-top: 20px;
  color: #9da4bd;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .copyright {
    margin-top: 0;
 }
}

.footer-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
  align-items: center;
}

.footer-list::before {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #303030;
}

/* -------------------------modal--------------------- */

.backdrop {
  z-index: 999999;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #30303070;
  transition: opacity 300ms linear, visibility 300ms linear;
}

.modal {
  padding: 40px;
  width: 500px;
  min-height: 550px;
  background-color: #f7f7f7;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 300ms linear;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(1.5);
}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  border: 1px solid #999999;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #ff6c00;
}

.modal-close:hover,
.modal-close:focus {
  fill: #065a06;
  background-color: #ebd7d7;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-title {
  font-style: 18px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 15px;
}

.input-wrapper {
  position: relative;
  margin-bottom: 15px;
}

.modal-input {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #999999;
  background-color: transparent;
  outline: transparent;
  padding-left: 30px;
  font-size: 14px;
  color: teal;
}

.input-lable {
  font-size: 12px;
  display: block;
  position: relative;
  margin-bottom: 5px;
  transition: color 300ms linear, color 300ms linear;
}

.input-lable:hover,
.input-lable:focus {
  color: #3fa019;
}

/* .input-lable span{
  font-style: 12px;
  display: block;
  margin-bottom: 5px;
} */

.modal-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.modal-input:focus {
  border-color: #ff6c00;
}

.modal-input:focus + .modal-icon {
  fill: #ff6c00;
}

.modal-input::placeholder {
  font-style: 12px;
  color: #303030;
}

.modal-input:not(:focus):not(:placeholder-shown):valid {
  border: 3px solid #0fbb0f;
}

.modal-input:not(:focus):not(:placeholder-shown):invalid {
  border: 3px solid #eb1717;
}

.error {
  width: 200px;
  height: 100px;
  color: red;
  font-size: 10px;
  display: none;
  position: absolute;
}

.modal-input:not(:focus):not(:placeholder-shown):invalid + .error {
  display: block;
}

.modal-comment {
  width: 100%;
  height: 100px;
  border: 1px solid #999999;
  border-radius: 5px;
  resize: none;
}

.modal-btn {
  color: #303030;
  margin-top: 20px;
  transition: background-color 300ms linear, color 300ms linear;
}

.modal-btn:hover,
.modal-btn:focus {
  color: #fff;
  background-color: #ff6c00;
}

.check-text {
  font-size: 14px;
  color: #555555;
  display: flex;
  align-items: center;
  position: relative;
}

/* .check-text::before {
  content: "";
  width: 40px;
  height: 22px;
  background-color: #9da4bd;
  border-radius: 50px;
  margin-right: 10px;
  transition: background-color 200ms linear, border 200ms linear;
}

.check-text::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50px;
  margin-right: 10px;
  transition: transform 200ms linear, background-color 200ms linear;
}

.modal-check:checked + .check-text::after {
  transform: translate(18px);
  background-color: #3fa019;
 } 

 .modal-check:checked + .check-text::before {
  background-color: #ffffff;
  border: 1px solid #9da4bd;
 }  */

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-check:checked + .check-text span {
  background-color: #ff6c00;
  border: none;
  fill: #f7f6f6;
}

.modal-check:focus + .check-text span {
  border-color: #ff6c00;
}

/* .check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #303030;
  border-radius: 2px;
  margin-right: 7px;
}

.modal-check:checked + .check-text::before {
  background-color: #ff6c00;
  border: none;
  background-image: url(../image/icon\ check\ \(1\).svg);
  background-repeat: no-repeat;
  background-position: center;
} */

.filter-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.filter-btn {
  padding: 6px 22px;
  background-color: #9da4bd;
  display: block;
}

.filter-input:checked + .filter-btn {
  background-color: #ff6c00;
  color: #fff;
}




/* -------------------------Contacts--------------------- */


.header-contapage {
  background: #f7f7f7;
  padding-top: 32px;
  padding-bottom: 32px;
  /* position: absolute; */
  width: 100%;
}

.header-container-contapage {
  display: flex;
  align-items: center;
}

  .logo-contapage {
    margin-right: 131px;
    fill: #303030;
  }


.logotip-icon-contapage {
  fill: #303030;
}

.navigations-contapage {
  margin-right: auto;
}

.header-menu-contapage {
  display: flex;
  gap: 30px;
}


.menu-link-contapage {
  color: #303030;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  transition: color 300ms linear;
}

.menu-link-contapage:hover,
.menu-link-contapage:focus,
.menu-link-contapage.current {
  color: #ff6c00;
}

.menu-link-contapage:active {
  color: #000;
}

.header-contact-contapage {
  margin-top: 20px;
  margin-right: -20px;
  color: #303030;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .header-contact-contapage {
    margin-right: 20px;
    margin-top: 0;
  }
}

.header-btn-contapage {
  height: 36px;
  color: #303030;
  cursor: pointer;
  margin-left: 43px;
  transition: background-color 300ms linear;
  display: none;
}
@media screen and (min-width: 768px) {
  .header-btn-contapage {
    display: block;
    margin-right: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .header-btn-contapage {
    margin-right: 17px;
    margin-top: 0px;
  }
}

.header-btn-contapage:hover,
.header-btn-contapage:focus {
  background-color: #ff6c00;
}


@media screen and (max-width: 767px) {
  .header-contact-box,
  nav .header-menu-contapage {
    display: none;
  }
} 



.contapage {
  padding: 200px 350px;
  color: #303030;
  font-size: 32px;
  text-align: center;
}






.to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: transparent;
  color: linear-gradient(to right, #ff0000, #00ff00);
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  animation: gradientAnimation 3s infinite;
  display: none;
}
@keyframes gradientAnimation {
  0%,
  100% {
    color: #ff0000;
    transform: translateX(0);
  }
  50% {
    color: #00ff00;
    transform: translateX(5px);
  }
}

.to-top-btn:hover {
  background-color: transparent;
}


.icon-arrow-up {
fill: #d0d6d0;
}